<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ShopKart</display-name>
   <welcome-file-list>
   <welcome-file>Register.jsp</welcome-file>
   
      <welcome-file>login.jsp</welcome-file>
   <welcome-file>admin.jsp</welcome-file>
   

      
             <welcome-file>home.jsp</welcome-file>
               <welcome-file>cart.jsp</welcome-file>
              
              
              
                   
              <welcome-file>DataFetcher.java</welcome-file>
                        <welcome-file>DataInjector.java</welcome-file>

   </welcome-file-list>
</web-app>




